body {
    background-image:url(imagenes/skills.jpg);
}

h1 {
    font-style:'anton';
    font-size: 50px;
    background-color:#0000ff;
    display:inline-block;
    border: solid 1px black;
    position: relative;
    left: 330px;
}
h2 {
    position: relative;
    top: 70px;
    left: 250px;   
}

img {
    position: relative;

    top: 26px;
    left: 22px;
    border: solid 2px black;
    border-radius: 10%;
}
.datos{
    position: relative;
    top: 130px;
    left: 50px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(16,30px );
    column-gap: 200px;
    row-gap: 20px;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}
.datos h3 {
    position: relative;
    left: 30px;
    top: 30px;
}
.datos p{
    position: relative;
    left: 30px;
    top: 30px;
}
.skills {
    position: absolute;
    left: 800px;
    top: 350px;
    width: 400px;
    height: 400px;
    border: solid 1px black;
}
.foto1{
    position: absolute;
    top: 35px;
    left: 880px ;
    display: block;
    border: solid 2px #00ffff;
    width: 250px;
    height: 300px;
    background-color: #00eeff;
    border-radius: 10%;
}
